body {
	background-color: #C51834;
	margin:0px;
	min-width:915px;
	font-family: Helvetica, sans-serif;
}

.title-nav {
	background-color: white;
	height: 32px;
	padding-left: 24px;
	margin-top: 24px;
	margin-bottom: 32px;
	padding-top: 2px;
	padding-right: 12px;
	box-sizing:border-box;
}

.title-project-portal, .title-project-portal * {
	font-weight:800;
	text-decoration: none;
	color:black;
	line-height: 18px;
}

#uc-sg {
	border-left: 1px solid black;
	padding-left: 5px;
	line-height: 18px;
	margin-left: 8px;
}

.title-project-portal:hover {
	text-decoration: underline;
}

.title-nav-item, .title-nav-item * {
	float:right;
	text-align:right;
	text-decoration: none;
	color: black;
	overflow: hidden;
	max-width: 400px;
	max-height: 24px;
}

.title-nav-item {
	margin-right:35px;
	padding-top:4px;
}

.title-nav-item:hover, .title-nav-item *:hover {
	text-decoration: underline;
}

.main-container {
	margin:0px auto 0px auto;
	max-width:1306px;
}

.login-container, .activate-container {
	margin:175px auto 0px auto;
	margin-left:auto;
	margin-right:auto;
	width: 70%;
	text-align:center;
}

.activate-container {
	height:760px;
}

.login-input {
	border:2px solid transparent;
	padding:4px;
	width:200px;
	height:32px;
	font-size:16pt;
	font-weight:200;
	outline:none;
	margin-bottom:12px;
}

.login-input:focus {
	background-color:#aedefc;
}

.form-error-login {
	color: #c9322d;
	margin-bottom: 8px;
}

.form-error-login a {
	color : black;
}

.button {
	border-radius: 4px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	width:200px;
	height:32px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
}

.button:hover{
	text-decoration: underline;
}

.filter-button {
	border-radius: 4px;
	background-color:white;
	padding:4px 24px 4px 24px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-bottom: 8px;
	display: inline-block;
	margin-right: 4px;
}


#login-button, .finish-verify-button {
	background-color:#C51834;
	color:white;
	padding:6px 4px 4px 4px;
	width:200px;
	height:26px;
	font-size:16pt;
	font-weight:200;
	cursor:pointer;
	display: inline-block;
	text-align:center;
}

.finish-verify-button:hover {
	background-color: black;
}

.blue-button {
	border-radius: 4px;
	background-color:black;
	padding:4px 12px 4px 12px;
	font-size:10pt;
	text-decoration: none;
	color:white;
	font-weight:200;
	cursor:pointer;
	text-align:center;
}

.blue-button:hover {
	text-decoration: underline;
}


#login-button:hover {
	//background-color:#aedefc;
}

.welcome {
	font-size:64pt;
	color:white;
	text-align:center;
	margin-bottom:64px;
}

.welcome > img {
	width:180px;
	vertical-align: text-top;
	top: 32px;
	position: relative;
}

#dashboard-item-container {
	text-align: center;
}

.dashboard-item {
	text-align:center;
	width:240px;
	display:inline-block;
	margin-right:64px;
	margin-left:64px;
	margin-bottom:24px;
}

.dashboard-item > a {
	text-decoration: none;
}

.dashboard-item img {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}

.dashboard-item-text {
	font-size:20pt;
	font-weight:lighter;
	text-decoration: none;
	color:black;
}

.roundbox {
	background-color:white;
	border-radius:8px;
	padding-left: 32px;
	padding-right: 44px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom:32px;
	margin-right:24px;
}

.roundbox-textinput {
	border:solid 0px transparent;
	padding:8px;
	height:32px;
	font-size:14pt;
	font-weight:200;
	outline:none;
	margin-bottom:12px;
	background-color: #eee
}

.roundbox-textinput:focus {
	background-color:white;
}

.textarea-description {
	resize: none;
	min-height:64px;
	font-family: Helvetica, sans-serif;
}

.textarea-update {
	resize: none;
	font-family: Helvetica, sans-serif;
	width:100%;
}

.projectbox {
	background-color: white;
	border-radius: 10px;
	min-width: 300px;
	min-height: 64px;
	font-size: 14pt;
	font-weight: 100;
	border-spacing: 0px;
	overflow: hidden;
	cursor: pointer;
	padding: 4px;
}

.projectbox td {
	padding:0px;
}

.project-state {
	font-size: 12px;
	width: 75px;
	background-color: #F7CA6A;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	border-radius: 4px;
}

.isotope-item {
	float: left;
}
.grid-sizer, .isotope-item {
	width : 47%;
}

.projectbox-title {
	/*width: 100%;*/
	padding:20px 0px 50px 20px !important;
}

.projectbox-needshelp-description {
	font-weight:bold;
}

.projectbox-container {
	width:100%;
	margin-bottom:32px;
}

.filter-button-container {
	width:80%;
	margin:0px auto;
	text-align: center;
	margin-bottom:16px;
}

 * {

}

.projectbox-icon {
	width: 55px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.projectbox-description {
	display:none;
	margin-right:8px;
	margin-bottom:6px;
}

.projectbox-expandable {
	width: 500px;
	display: block;
	word-wrap: normal;
	word-break: break-word;
}

.projectbox-expandable:before {
	content: '\A';
}

.projectbox-view {
	font-size: 14px;
	color:black;
}

.leave-project-button{
	cursor:	pointer;
	float: right;
	position: absolute;
	right: 10px;
	top: 8px;
	width:24px;
	height:24px;
	background-image : url("/assets/images/buttons/project-close-inactive.png");
	background-size:cover;
}

.leave-project-button:hover {
	background-image : url("/assets/images/buttons/project-close-active.png");
}

.huge-header {
	color : white;
	font-size: 48pt;
	overflow-wrap:break-word;
	word-break: break-all;
	margin-bottom:32px;
}

.large-header {
	color : white;
	font-size: 22pt;
	overflow-wrap:break-word;
	margin-bottom:32px;
}

.project-name-container {
	margin-bottom:32px;
}

.project-name-container img {
	width: 200px;
	display: inline;
	margin-right:24px;
	vertical-align: middle;
	float:left;
	margin-bottom:24px;
}

.content-header {
	font-weight:600;
	font-size:18pt;
}

.content {
	font-weight:300;
	overflow-wrap:break-word;
}

.project-table {
	table-layout: fixed;
	padding-left:-50px;
	width:100%;
}

.project-table * {
	vertical-align: top;
}

.project-table td {
	width : 640px;
}

.project-category-state {
	text-align: center;
	vertical-align: top;
	display: inline;
	float: left;

}

#project-state-select {
	width : 100%;
}

#project-categories-select {
	width : 100%;
}

#project-team-members-select {
	width:100%;
}

#project-state-message-input {
	margin-top : 16px;
	width:100%;
	font-size:10pt;
}

#project-primary-contact-select {
	width:100%;
}

.dialog-option-td {
	text-align: right;
}

.dialog-option-td span {
	width:100px;
	height:auto;
	display: inline-block;
}

.chosen-container {
	display:block;
}

.select-item {
	cursor : pointer;
}

.select-group {
	color : white;
}

.unselected {
	color : black;
}

#update-input {
	width : 100%;
	min-height : 64px;
	margin: 0px 0px 0px 0px;
	border-radius: 4px;
	padding-left:16px;
	resize: none;
	font-size:16pt;
	outline: none;
}

#project-update-log {
	width:100%;
}

#project-all-files {

}

#post-update, .edit-update-button {
	margin-top:6px;
	float : right;
	font-size: 12pt;
}

.edit-update-button {
	margin-top:-13px;
}

#update-files-mask {
	margin-top:6px;
	display: inline-block;
	width:auto;
	height:auto;
}

#update-files-filenames {
	padding-top: 8px;
	display: inline-block;
	vertical-align: middle;
	font-size:12pt;
}

.post-update-container {
	width : 80%;
	height : 48px;
	background-color:white;
	margin-bottom:48px;
	margin-left:32px;
	display:none;
	padding-right:16px;
	border-left:2px solid white;
	border-right:3px solid white;
}

.hint {
	font-weight : 200;
	font-size : 10pt;
}

.user-info {
	margin-left:32px;
}

.project-category-select {
	width:100%;
}

.edit-button, .edit-users-following-button {
	cursor: pointer;
	background-image:url("/assets/images/buttons/project-edit-inactive.png");
	background-size:cover;
	width:32px;
	height:32px;
	display:block;
	position: absolute;
}

.edit-button:hover, .edit-users-following-button:hover, .edit-users-following-button[active="true"] {
background-image:url("/assets/images/buttons/project-edit-active.png");
}

.update-arrow {
	cursor: pointer;
	background-image:url("/assets/images/buttons/update-arrow-inactive.png");
	background-size: cover;
	width: 24px;
	height: 16px;
	display: inline-block;
}

.update-arrow:hover, .update-arrow[active=true] {
	background-image:url("/assets/images/buttons/update-arrow-active.png");
}

.update-menu {
  /* text-align: center; */
  background-color: white;
  padding: 4px 0px 4px 0px;
  position: absolute;
  border-radius: 5px;
  /* right: 1px; */
  box-shadow: 0px 2px 10px #888;
  width: 96px;
  display: none;
  margin-top:8px;
}

.update-menu > .menu-item {
	padding-left: 4px;
	cursor: pointer;
	padding-top:4px;
	padding-bottom:4px;
}

.update-menu > .menu-item:hover {
	background-color:black;
	color:white;
	text-decoration: underline;
}

.update-menu > .menu-item +  .menu-item {
}

.profile-menu {
	position: relative;
	top:70px;
	background-color: white;
	padding: 4px 8px 4px 4px;
	max-height: none;
	max-width: none;
	text-align: center;
	border-radius: 4px;
	width: 96px;
}

.profile-menu:hover {
	text-decoration: none;
}

.profile-menu > .menu-item {
	padding-left: 4px;
	cursor: pointer;
	padding-top:4px;
	padding-bottom:4px;
	float:none;
}

.profile-menu-arrow, .see-more-menu-arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	top: 70px;
	border-bottom: 10px solid white;
	float: none;
	margin-left: 18px;
	margin-bottom: -2px;
}

.profile-menu-container {
	display: none;
	float: none;
	overflow: visible;
}


.edit-field select {
	padding:8px;
	margin-bottom:16px;
}

.users-following-edit-field {
	width: 100%;
}

.file-inputs {
	width: 102%;
}

#notifications-window, #office-hours-window, #activate-inputs {
	background-color:white;
	position: fixed;
	padding: 16px;
	border-radius: 8px;
	width: 500px;
	box-shadow: 0px 5px 20px #333;
	display: none;
}

#office-hours-window {
	width:initial;
}

#popane-overlay {
	background-color:black;
	opacity:0.5;
}

.close-button {
	position: absolute;
	right:24px;
	font-size:8pt;
	color:#999;
	cursor: pointer;

}

.close-button:hover {
	text-decoration: underline;
}

#notification-text {
	cursor: pointer;
}

#notification-text:hover {
	text-decoration: underline;
}

.notification-item {
	border-bottom:1px solid #91091F;
	margin-bottom:16px;
	padding-bottom:8px;
}

.notification-item table {
	width: 100%;
}

.notification-td {
	width : 424px;
}

.notification-popup {
	font-size:20pt;
	background-color:#aedefc;
	font-weight:lighter;
}

.unread-notification-marker {
	position: absolute;
	color: white;
	background-color: #C51834;
	border-radius: 4px;
	padding: 4px;
	right: -6px;
	top: -2px;
}

.file-download {
	color:black;
	text-decoration: none;
}

.file-download:hover {
	text-decoration: underline;
}

.instruction {
	color : white;
	font-size:18pt;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:32px;
	font-weight: 100;
	width:100%;
	text-align: center
}

.user-link {
	color : inherit;
	text-decoration: none;
}

.project-link {
	color : inherit;
}

.notification-td .project-link {
	text-decoration: underline
}

.user-link:hover {
	text-decoration: underline;
}

.notification-clear-all {
	margin-left:16px;
	color:#999;
	cursor:pointer;
}

.notification-clear-all:hover {
	text-decoration: underline;	
}
.feedback-label {
	margin-right:16px;
}

.forgot-password {
	color:black; 
	margin-left:6px;
	margin-bottom:8px; 
	display:block; 
	text-align:left;
	font-size:13pt;
}

.forgot-password * {
	color : black;
	text-decoration: none;
	font-weight:700;
}

.forgot-password:hover {
	text-decoration: underline;
}

.activate-button {
	float: right;
	width: 40%;
	display: inline-block;
	margin-top: 32px;
	background-color: #C51834;
	padding: 25px;
	border-radius: 60px;
	height: 240px;
	cursor: pointer;
}

.activate-button img {
	width: 90px;
	margin: 16px;
}

.activate-button:hover {
	background-color:#aedefc;
}

#activate-inputs {
	display: none;
	width: 200px;
	margin-top:32px;
}

.verify-inputs .login-input {
	background-color: #eee
}

.verify-header {
	margin-bottom: 4px;
    height: 26px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search-nav-item {
	max-height: 32px;
	position: relative;
	top: -2px;
	padding-top:0px;
}

.search-nav-item, .search-nav-item * {
	overflow: visible;
}

.search-nav-item *:hover {
	text-decoration: none;
}

.search-nav-item .tt-suggestion {
	text-align: left;
	width: 188px;
	padding-top: 4px;
	padding-bottom:4px;
	padding-left:4px;
	cursor: pointer;
}

.search-nav-item .tt-suggestion:hover {
	background-color:black;
	color: white;
	text-decoration: underline;
}

.search-nav-item .tt-suggestion:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tt-menu {
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tt-menu, .tt-menu * {
	float:none;
	max-height: none;
}

.office-hour-mark-container {
	margin-bottom: 16px;
	height: 48px;
}

.office-hour-mark {
    float: left;
    margin-right: 32px;
    text-align: center;
}

.office-hour-mark-header {

}

.office-hour-mark-value {
	font-size: 16pt;
	font-weight: 100;
}

.office-hour-mark-value[warning="true"] {
	color : #D80707;
}

.office-hour-mark-value[warning="false"] {
	color : #00DC75;
}

.office-hour-title-image {
	background-image: url("/assets/images/icons/clock.png");
	background-size: cover;
	width: 52px;
	height: 52px;
	display: inline-block;
}

.office-hour-button {
	background-image: url("/assets/images/icons/clock.png");
	background-size: cover;
	width: 26px;
	height: 26px;
	max-height: none;
	right: 20px;
	z-index: 1;
	cursor: pointer;
}

.search-button {
	background-image: url("/assets/images/icons/search.png");
	background-size: cover;
	width: 24px;
	height: 24px;
	position: relative;
	right: 20px;
	z-index: 1;
	top:3px;
	cursor: pointer;
}

.search-box {
	width: 192px;
	height: 32px;
	text-align: left;
	box-sizing: border-box;
	margin-bottom: 0px;
	font-size: 16px;
	padding-left: 32px;
	visibility: hidden;
	max-height: 32px;
	padding-top: 8px;
}

#search-box:focus {
	background-color:#eee;
}

.privilege-button-container {
	padding-top: 8px;
	display: block;
	margin-bottom: 16px;
}

.privilege-button {
	background-color:#ddd;
}

.privilege-button[active="true"], .emeritus-button[active="true"] {
	background-color:black;
	color:white;
}

.user-profile {
	background-size:cover;
	border-radius:50%;
	overflow: visible;
}

.user-profile-header {
	width: 64px;
	height: 64px;
	box-sizing: border-box;
	display: inline-block;
	max-height: none;
	position: relative;
	top: -18px;
	border: 2px solid white;
	cursor: pointer;
}

.user-profile-header.empty {
	background-color: #C51834;
}

.user-profile-header .user-profile-text {
	color:white;
	float: none;
	position: absolute;
	text-align: center;
	width: 100%;
	right: 0px;
	top: 15px;
	font-size: 24px;
}

.user-profile-main {
	border:2px solid white;
	width: 132px;
	height: 132px;
	text-align:center;
	padding:24px 12px 12px 12px;
	display:inline-block;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 48pt;
}

.user-profile-main .user-profile-upload {
	position: relative;
	opacity: 0.5;
	font-size: 10pt;
	overflow: hidden;
	text-align: left;
	vertical-align: bottom;
	bottom: 12px;
	width: 132px;
	height: 66px;
	left: -15px;
	display: inline-block;
	cursor: pointer;
}

.user-profile-main.empty .user-profile-upload {
	background-color: black;
	opacity: 0.8;
}

.user-profile-upload .camera-icon {
	background-image: url('/assets/images/icons/camera.png');
	display: block;
	width: 28px;
	height: 28px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
}

.user-profile-upload-text {
	padding: 24px 8px 8px 8px;
	/* width: 50%; */
	word-break: break-word;
	text-align: center;
	font-size: 12pt;
	display: block;
}

.user-profile-icon {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	display: inline-block;
	max-height: none;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
}

.user-profile-icon-wrapper.large .user-profile-icon {
	width: 64px;
	height: 64px;
}

.user-profile-icon .user-profile-text {
	text-decoration: none;
	color: black;
	position: absolute;
	text-align: center;
	width: 100%;
	right: 0px;
	top: 8px;
	font-size: 24px;
	text-transform: uppercase;
}

.user-profile-icon-wrapper.large .user-profile-text {
	top: 16px;
}

.user-profile-icon-wrapper, .projectbox-see-more {
	display: inline-block;
	text-align: center;
	text-transform: lowercase;
	font-size: 14px;
	margin-right: 3px;
}


.user-profile-icon-caption {
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

.user-profile-icon-wrapper:hover .user-profile-icon-caption, .projectbox-see-more:hover .user-profile-icon-caption {
	text-decoration: underline;
}

.user-profile-icon-wrapper.large .user-profile-icon-caption {
	width: 64px;
}

.see-more-menu-container {
	display: none;
	float: none;
	overflow: visible;
	position: absolute;
}

.projectbox-see-more:hover .see-more-menu-container, .like-button-container:hover .see-more-menu-container, .follow-button-container {
	display: block;
}

.see-more-menu {
	position: relative;
	background-color: black;
	color: white;
	padding: 4px 8px 4px 4px;
	max-height: none;
	max-width: none;
	text-align: left;
	border-radius: 4px;
	/*width: 48px;*/
}

.see-more-menu-item {
	margin-top: 2px;
	margin-bottom: 2px;
}

.see-more-menu-item a {
	color: white;
	text-decoration: none;
}

.see-more-menu-item:hover {
	text-decoration: underline;
}

.see-more-menu-arrow {
	border-bottom: 10px solid black;
	top:0px;
}

.join-button {
	height: 65px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.join-button-positioner {
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

.join-button .user-profile-icon-caption {
	font-size: 12pt;
	position: absolute;
	/* margin-left: auto; */
	/* margin-right: auto; */
	width: 100%;
}

.join-button:hover .user-profile-icon-caption {
	text-decoration: underline;
}

.twitter-typeahead {
	max-height: 32px;
}

.like-button, .like-update-button {
  display: inline-block;
  background-image: url('/assets/images/icons/heart-unselected.png');
  width: 24px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}

.like-button:hover, .like-button[active="true"], .like-update-button:hover, .like-update-button[active="true"] {
	background-image: url('/assets/images/icons/heart-selected.png');
}

.like-count {
	color:#ddd;

}

.like-button-container .see-more-menu-container {
	font-size:14px;
	z-index: 4;
	text-transform: lowercase;
}

.follow-button, .follow-user-button {
  display: inline-block;
  background-image: url('/assets/images/icons/eye-unselected.png');
  width: 33px;
  height: 20px;
  background-size: cover;
}

.follow-button:hover, .follow-button[active="true"], .follow-user-button:hover, .follow-user-button[active="true"] {
	background-image: url('/assets/images/icons/eye-selected.png');
}

.user-activity-feed .hint {
	font-size:12pt;
}

.user-activity-feed a {
	color: #C51834;
}

.user-activity-feed .update-link {
	font-style:italic;
}

.user-activity-feed .user-activity {
	margin-bottom:8px;
}