#panel
{
    position: fixed;
    background: transparent;
    right: 0;
    top: 100px;
    z-index: 100;
}

#panel-content
{
    position: relative;
    width: 0px;
    overflow: hidden;
    background: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    float: right;
    height: 320px;
}

#panel-tab
{
    position: relative;
    width: 50px;
    background-color: transparent;
    float: right;
    margin: 0px;
    padding: 0px;
    height: 320px;
}

#myTab
{
    cursor: pointer;
    position: relative;
    top: 0;
    background: white;
    height: 240px;
    width: 40%;
    color: #fa544f;
    float: right;
    margin: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 80px 10px 0px 10px;
    border: 2px solid black;
    border-right: 6px solid white;
    border-right: 0;
    text-align: center;
    z-index: 101;
}

#myTab:hover
{
    background: #fa544f;
    border: 2px solid white;
    border-right: 0;
    color: white;
}

.input-label {
  text-align: right;
}
