@(officeHourTuples : Seq[(model.User, Double)], amountOfFailures : Int)

@email.email(Html("Office Hour Digest")) {
	<div style="font-size: 14pt;">No. of users that didn't meet office hour requirement: @amountOfFailures / @officeHourTuples.length</div>
	<div style="font-size: 14pt;">Failures</div>
	@for((user, amount) <- officeHourTuples if amount < user.officeHourRequirement) {
		<div>@user.fullName: @amount / @user.officeHourRequirement
	}
	<div style="font-size: 14pt;">Successes</div>
	@for((user, amount) <- officeHourTuples if amount >= user.officeHourRequirement) {
		<div>@user.fullName: @amount / @user.officeHourRequirement
	}
	<br>
	<br>
}
