@(project : model.Project, subPhrase : String)

@defining(constants.ServerSettings.HostUrl + routes.ProjectController.project(project.id)) { url =>

@email(Html(s"people like your project!")) {
	<span style="font-size:20pt;">@Html(subPhrase) @(if (project.likes.length > 1) "like" else "likes") your project, @{project.name}!</span>
	<br>
	<br>
	<span style="border-radius: 4px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	display:block;"><a href="@url" style="text-decoration:none; color:black">go to the project</a></span>
}}