@(requester : model.User, project : model.Project)

@defining(constants.ServerSettings.HostUrl + routes.RequestController.decide(project.id, requester.username, true), constants.ServerSettings.HostUrl + routes.RequestController.decide(project.id, requester.username, false)) { case (acceptUrl, ignoreUrl) =>

@email.email(Html(s"${links.userLinkEmail(requester)} requested to join the project ${project.name}")) {
	<span></span>
	<br>
	<br>
	<span style="border-radius: 4px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-left:120px;
	margin-right:auto;
	float:left;"><a href="@acceptUrl" style="text-decoration:none; color:black">accept</a></span>
	<span style="border-radius: 4px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-left:auto;
	margin-right:240px;
	float:right;"><a href="@ignoreUrl" style="text-decoration:none; color:black">ignore</a></span>
}}