@(title : Html, message : String, buttonText : String = "visit the project portal", buttonLink : String = "")

@email(title) {
	<span>@message</span>
	<br>
	<br>
	<div style="border-radius: 30px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;"><a href="@{constants.ServerSettings.HOST_URL + buttonLink}" style="text-decoration:none; color:black">@buttonText</a></div>
}