@(user : model.User,
numberOfProjects : Int,
hotProjectsWithCount : Seq[(model.Project, Int)],
hotContributorsWithCount : Seq[(model.User, Int)],
projectsForStatus : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Seq[model.Project]],
percentagesForStatus : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Int],
newProjects : Seq[model.Project],
completedProjects : Seq[model.Project],
userPercentagesForStatus : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Int],
userPercentagesForFollowingStatus : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Int],
userFollowingProjectsForStatus : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Seq[model.Project]])

@shortenContentUser(user : model.User) = @{
	val maxLength = 100;
	if(user.fullName.length > maxLength) {
		user.fullName.substring(0, maxLength - 3) + "..."
	}
	else {
		user.fullName
	}
}

@calculateFontSizeUser(user : model.User) = @{
	val maxLength = 100;
	val minLength = 80;
	val smallestSize = 15.0;
	val largestSize = 24.0;
	if(user.fullName.length >= maxLength) {
		smallestSize.toInt
	}
	else if(user.fullName.length <= minLength) {
		largestSize.toInt
	}
	else {
		math.floor(( (user.fullName.length.toDouble - minLength) / (maxLength.toDouble - minLength)) * (largestSize - smallestSize)).toInt + smallestSize.toInt
	}
}

@shortenContentProject(project : model.Project) = @{
	val maxLength = 100;
	if(project.name.length > maxLength) {
		project.name.substring(0, maxLength - 3) + "..."
	}
	else {
		project.name
	}
}

@calculateFontSizeProject(project : model.Project) = @{
	val maxLength = 100;
	val minLength = 80;
	val smallestSize = 15.0;
	val largestSize = 24.0;
	if(project.name.length >= maxLength) {
		smallestSize.toInt
	}
	else if(project.name.length <= minLength) {
		largestSize.toInt
	}
	else {
		math.floor(( (project.name.length.toDouble - minLength) / (maxLength.toDouble - minLength)) * (largestSize - smallestSize)).toInt + smallestSize.toInt
	}
}

@sectionHeader(text : String) = {
	<div style="
		color:white;
		font-size:20pt;
		margin-bottom: 8px;
		">@text
	</div>
}

@completedProject(project : model.Project) = {
		<div style="
			color: white;
			font-weight: lighter;
    		margin-top: 12px;">
    		@links.projectLinkEmail(project.id, project.name)</a>
    	</div>

}

@newProject(project : model.Project) = {
		<div style="
			color: white;
			font-weight: lighter;
    		margin-top: 12px;">
    		@links.projectLinkEmail(project.id, project.name)</a>
    	</div>

}

@hotProject(project : model.Project, count : Int) = {
		<div style="
			color: white;
			font-weight: lighter;
    		margin-top: 12px;">
    		@links.projectLinkEmail(project.id, s"${project.name}, # of updates: $count")</a>
    	</div>
}

@hotContributor(user : model.User, count : Int) = {
    <div  style="
    	color: white;
	    font-weight: lighter;
    ">
    	@links.userLinkEmail(user, "view user")</a>
    </div>

}

@percentageStatus(
	statusType : enums.ProjectActivityStatus.ProjectActivityStatus,
	percentageMap : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Int],
	projectMap : Map[enums.ProjectActivityStatus.ProjectActivityStatus, Seq[model.Project]]) = {

	@if(percentageMap.contains(statusType)) {
		<div>@percentageMap(statusType)% of all projects are @enums.ProjectActivityStatus.toString(statusType) (@projectMap(statusType).length @(if (projectMap(statusType).length > 1) "projects" else "project"))</div>
	}
}

@email.email(Html("your project portal weekly digest")) {
	@sectionHeader("hot projects")
	@for((project, count) <- hotProjectsWithCount) {
		@hotProject(project, count)
	}
	@sectionHeader("hot contributors")
	@for((user, count) <- hotContributorsWithCount) {
		@hotContributor(user, count)
	}
	@if(newProjects.length > 0) {
		@sectionHeader("fresh new projects")
		@for(project <- newProjects) {
			@newProject(project)
		}
	}
	@if(completedProjects.length > 0) {
		@sectionHeader("recently completed projects")
		@for(project <- completedProjects) {
			@completedProject(project)
		}
	}
	@sectionHeader("stats for all projects")
	@percentageStatus(enums.ProjectActivityStatus.Hot, percentagesForStatus, projectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Warm, percentagesForStatus, projectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Cold, percentagesForStatus, projectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Freezing, percentagesForStatus, projectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Frozen, percentagesForStatus, projectsForStatus)
	<br />
	@sectionHeader("stats for projects you follow")
	@percentageStatus(enums.ProjectActivityStatus.Hot, userPercentagesForFollowingStatus, userFollowingProjectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Warm, userPercentagesForFollowingStatus, userFollowingProjectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Cold, userPercentagesForFollowingStatus, userFollowingProjectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Freezing, userPercentagesForFollowingStatus, userFollowingProjectsForStatus)
	@percentageStatus(enums.ProjectActivityStatus.Frozen, userPercentagesForFollowingStatus, userFollowingProjectsForStatus)
}