@(user : model.User)

@defining(constants.ServerSettings.HostUrl + routes.UserController.user(user.username)) { url =>

@email.email(Html(s"${links.userLinkEmail(user)} registered their account as a ${user.position} in Student Government")) {
	<span>Verify that this user is who they say they are, and set the appropriate user privileges for them.</span>
	<br>
	<br>
	<span style="border-radius: 4px;
	background-color:#ddd;
	padding:4px 12px 4px 12px;
	font-size:12pt;
	text-decoration: none;
	color:black;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;"><a href="@url" style="text-decoration:none; color:black">set their user privileges</a></span>
}}