@(username : String, code : String)(form : Form[(String, String, String, String, String, String)])

@main("Activate Your Account")(None) {

   	<style>
      BODY {
        background-image:url("/assets/images/login-bg.jpg");
        background-position:center; 
      }
      FORM {
        width:200px;
        margin-left:auto;
        margin-right:auto;
      }

    </style>

	<div class="login-container">
      <div class="login-container">
        <div class="huge-header" style="color: #C51834; font-weight:800">project portal</div>
        <div class="large-header" style="color: black; font-weight:200; margin-bottom:20px">activate your account</div>
        @helper.form(action = routes.ActivationController.tryActivate) {
          @for(error <- form.errors) {
            <div class="form-error-login">*@error.message</div>  
          }
          <input class="login-input" name="first_name" type="text" placeholder="first name">
          <input class="login-input" name="last_name" type="text" placeholder="last name">

          <input class="login-input" name="password" type="password" placeholder="password">
          <input class="login-input" name="confirm_password" type="password" placeholder="confirm password">
          <input type="hidden" name="username" value="@username">
          <input type="hidden" name="code" value="@code">
          <input type="submit" style="display:none"/>
          <span id="login-button">activate</span><br>
        }
		</div>
	</div>

}