@(path : String = "")(form : Form[controllers.ActivationController.UserForm])

@main("Activate Your Account")(None) {

   	<style>
      BODY {
        background-image:url("/assets/images/login-bg.jpg");
        background-position:center; 
      }
      FORM {
        width:200px;
        margin-left:auto;
        margin-right:auto;
      }

    </style>

	<div class="activate-container">
        <div class="huge-header" style="color: #fa544f; font-weight:800">project portal</div>
        <div class="large-header" style="color: black; font-weight:200; margin-bottom:20px">creating your account</div>
        <div class="activate-button" id="activate-sg-button" style="float:left">
          <div class="large-header">i am a member of student government</div>
          <img src="/assets/images/logos/sg-logo-without.png" />
          <div class="hint">tribunals, boards, committees, senate, cabinet, executive taff, etc.</div>
        </div>
        <a href="@routes.ActivationController.activateNonSG.url" style="text-decoration:none; color : black">
          <div class="activate-button" id="activate-non-sg-button">
            <div class="large-header">i am not a member of student government</div>
            <img src="/assets/images/logos/uc-logo.png" />
            <div class="hint">don't worry, you're still cool</div>
          </div>
        </a>
        @helper.form(action = routes.ActivationController.tryActivateNEW) {
          @for(error <- form.errors) {
            <div class="form-error-login">*@error.message</div>  
          }
        	<span id="activate-inputs">
				<input class="login-input" name="first_name" type="text" placeholder="first name">
				<input class="login-input" name="last_name" type="text" placeholder="last name">
				<input class="login-input" name="preferred_pronouns" type="text" placeholder="preferred pronouns">
				<input class="login-input" name="position" type="text" placeholder="position">
		        <input type="submit" style="display:none"/>
		        <span id="login-button">finish</span><br>
	        </span>
        }
	</div>

}