@(adminUser : model.User)

@main("Student Government Project Portal")(Some(adminUser)) {
	<div class="main-container">
		<div class="huge-header">administration</div>
		<!-- Users -->
		<div class="large-header">users</div>
		<div class="roundbox">
			@for(user <- model.User.all) {
				<div>@links.userLink(user, Some(s"${user.username} - ${user.fullName}")) - <a href="@routes.AdminController.deleteUser(user.username)">delete</a></div><br>
			}
			<div class="content-header">
			new user
			</div>
			@helper.form(action = routes.AdminController.createUser) {
				<textarea name="usernames" style="width:100%" class="roundbox-textinput textarea-description" placeholder="enter the usernames separated by a comma" ></textarea>

				<div class="blue-button submit-button" style="margin-top:16px;">create user</div>
			}
			<div class="content-header">
			user groups
			</div>
			<select name="state" class="chosen" id="project-state-select">
	          @for(userGroup <- model.UserGroup.all) {
	         	<option value="@userGroup.name" selected="selected">@userGroup.name</option>
	          }
          	</select>
			<textarea name="usernames" style="width:100%" class="roundbox-textinput textarea-description" placeholder="enter the usernames separated by a comma" ></textarea>
			<div class="blue-button submit-button" style="margin-top:16px;">add user to group</div>
		</div>

		<!-- Projects -->
		<div class="large-header">projects</div>
		<div class="roundbox">
		@for(project <- model.Project.all) {
			<div>@project.id - @project.name - <a href="@routes.AdminController.deleteProject(project.id)">delete</a></div>
		}
		</div>

		<!-- Categories -->
		<div class="large-header">categories</div>
		<div class="roundbox">
		@for(category <- model.ProjectCategory.all) {
			<div><img src="/assets/images/icons/project-completed-@(category.icon).png" class="projectbox-icon"/>@category.name</div>
		}
		</div>

		<!-- Feedback -->
		<div class="large-header">feedback</div>
		<div class="roundbox">
		@for(feedback <- model.Feedback.all) {
			<div class="header">@links.userLink(model.User.get(feedback.author)) - @feedback.feedbackType</div>
			<div class="description">@feedback.content</div>
		}

		<!-- Send a message -->
		<div class="large-header">send a message</div>
		<div class="roundbox">
		</div>
	</div>
}