@(adminUser : model.User)

@main("Student Government Project Portal")(Some(adminUser)) {
	<div class="main-container">
		<div class="huge-header">administration</div>
	</div>

	<div class="roundbox">
		<div class="content-header">
		new user
		</div>
		@helper.form(action = routes.Application.createUser) {
			<input type="text" name="username" class="roundbox-input" />
			<input type="text" name="first_name" class="roundbox-input" />
			<input type="text" name="last_name" class="roundbox-input" />
			<input name="password" type="password" class="roundbox-input" />

			<div class="blue-button submit-button" style="margin-top:16px; font-size:16pt">create user</div>
		}
	</div>
}