@(title : Html)(content : Html)

@main("Student Government Project Portal")(None) {
<table style="color:white; border-spacing:0px; margin-bottom:32px; font-family:'Helvetica'"><tr><td style="background-color:#fa544f; padding:0px" >
	    <div style="background-color: white; color:black; height: 24px;padding-left: 24px;margin-top: 12px;margin-bottom: 32px;padding-top: 5px;padding-right: 12px; width:100%">
	        <span style="font-weight: 800;"><a href="@constants.ServerSettings.HOST_URL" style=" text-decoration: none; color: black;">project portal</a></span> | university of cincinnati undergraduate student government 
	    </div>
		<div style="margin-left:32px; margin-right:32px">
			<div style="font-size:16pt">@title</div>
			<div style="color : white;">@content</div>
		</div>
		<br>
		<br>
</td></tr>
<tr>
	<td style="text-align:center; background-color:#fa544f; padding:0px">
		<div style="color : white; margin-left:auto; margin-right:auto; font-size:10px">
		<br>
This has been an automated resposne from the Project Portal. For any feedback, please contact <a href="mailto:@constants.ServerSettings.ADMIN_EMAIL" style="color:#aedefc">@constants.ServerSettings.ADMIN_NAME</a>.
		</div>
		<br>
		<br>
	</td>
</tr>
</table>
}