@(form : Form[(String)])

@main("Forgot Password | Student Government Project Portal")(None) {

   	<style>
      BODY {
        background-image:url("/assets/images/login-bg.jpg");
        background-position:center; 
      }
      FORM {
        width:200px;
        margin-left:auto;
        margin-right:auto;
      }

    </style>

	<div class="login-container">
      <div class="login-container">
        <div class="huge-header" style="color: #fa544f; font-weight:800">project portal</div>
        <div class="large-header" style="color: black; font-weight:200; margin-bottom:20px">please enter your username</div>
        @helper.form(action = routes.ActivationController.tryForgotPassword) {
            @for(error <- form.errors) {
            	<div class="form-error-login">*@error.message</div>
            }
        
			<input class="login-input" name="username" placeholder="username" />
			<span id="login-button">ok</span><br>
		}
		</div>
	</div>

}