@(path : String = "")(implicit form: Form[(String, String)])

@main("Student Government Project Portal")(None) {

   	<style>
      BODY {
        background-image:url("/assets/images/login-bg.jpg");
        background-position:center; 
      }
      FORM {
        width:200px;
        margin-left:auto;
        margin-right:auto;
      }
    </style>
      <div class="login-container">
        <div class="huge-header" style="color: #C51834; font-weight:800">project portal</div>
        <div class="large-header" style="color: black; font-weight:200; margin-bottom:20px">university of cincinnati undergraduate student government</div>
   	    @helper.form(action = routes.Application.tryLogin(path)) {
          @for(error <- form.errors) {
            @if(error.message == "user account not yet confirmed") {
             <div class="form-error-login">*your user account has not been confirmed. <a href="@routes.ActivationController.resendActivation()">click here to resend the confirmation email</a>.</div>
            } else {
              <div class="form-error-login">*@error.message</div>
            } 
          }
        <input type="text" placeholder="username" name="username" class="login-input" /><br>
        <input type="password" placeholder="password" name="password" class="login-input" /><br>
        <span class="hint forgot-password"><a href="/activate/forgot">forgot password?</a></span>
        <input type="submit" style="display:none"/>
        <span id="login-button">log in</span><br>
    </div>
   	}
}
