@(title: String)(authenticatedUser : Option[model.User] = None)(content: Html)
@import model.User
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chosen.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/helpers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/popane.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.autosize.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.color-2.1.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/chosen.jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/isotope.pkgd.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/packery-mode.pkgd.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/packery.pkgd.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/imagesloaded.pkgd.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>
    	@authenticatedUser match {
    		case None => {

    		}
    		case user : Some[User] => {
    			@header(user.get)
    		}
    	}
        @content
    </body>
</html>
