@(moderator : model.User)

@main("Moderation | Student Government Project Portal")(Some(moderator)) {
	<div class="main-container">

		<div class="huge-header project-name-container">
		moderation
		</div>

		<div class="roundbox">
			<!-- Actiavted Accounts -->
			<span class="content-header">activated accounts</span>
			<div class="content-description">
				@for(user <- model.User.all) {
					@if(user.hasConfirmed == true) {
						@links.userLink(user.username)<br />
						<div class="user-info">last login - @utils.Conversions.dateToDisplayedStr(user.lastLogin)</div>
						<div class="user-info">projects owned - @user.primaryProjects.length</div>
						<div class="user-info">projects working on (not owned) - @(user.projects.length - user.primaryProjects.length)</div>
						<div class="user-info">number of updates - @model.ProjectUpdate.get(user).length</div>
					}
				}
			</div>
			<!-- Unactivated Accounts -->
			<span class="content-header">unactivated accounts</span>
			<div class="content-description">
				@for(user <- model.User.all) {
					@if(user.hasConfirmed == false) {
						@user.username<br />
					}
				}
			</div>
			<!-- Projects -->
			<span class='content-header'>projects</span>
			<div class="conent-descriptions">
				@for(project <- model.Project.all) {
					@links.projectLink(project.id)<br />
					<div class="user-info">primary contact - @links.userLink(project.primaryContact)</div>
				}
			</div>
		</div>
	</div>	
}