@(user : model.User)(implicit form: Form[model.Project])

@main("New Project | Student Government Project Portal")(Some(user)) {
    <script>
    var STATE_IN_PROGRESS_NEEDS_HELP = "@model.ProjectState.IN_PROGRESS_NEEDS_HELP";

    </script>
    <div class="main-container">
      <div class="huge-header">create a new project</div>
     	<div class="roundbox">
     	@helper.form(action = routes.ProjectController.submitProject) {
      @for(error <- form.errors) {
        <div class="form-error">@error.key match {
          case "" => { *@error.message }
          case "team-members" => { *at least one team member is needed }
          case _ => { *a project @error.key is required }
        }
        </div>
      }

      <input type="text" placeholder="project name" name="name" class="roundbox-textinput" style="width:100%" value='@form("name").value' /><br>
      <textarea name="description" class="roundbox-textinput textarea-description" placeholder="enter a description" style="width:100%">@form("description").value</textarea>
      
      <div>choose categories</div>
      <br>
      <select name="categories[]" class="project-category-select chosen" multiple>
        @for(category <- model.ProjectCategory.all) {
          @if(form("categories").value.contains(category.name.toLowerCase())) {
            <option value="@category.name.toLowerCase()" selected="selected">@category.name.toLowerCase()</option>
          } else {
            <option value="@category.name.toLowerCase()">@category.name.toLowerCase()</option>
          }
        }
      </select>
      <br>
      <div style="margin-top:32px">what's its current state?</div>
      <br>
      <select name="state" class="chosen" id="project-state-select">
                                      @for(state <- model.ProjectState.all) {
                                          @if(form("state").value == state.name) {
                                             <option value="@state.name.toLowerCase()" selected="selected">@state.name.toLowerCase()</option>
                                          } else {
                                             <option value="@state.name.toLowerCase()">@state.name.toLowerCase()</option>                                        
                                          }

                                      }
      </select>
      <br>
      <input class="roundbox-textinput" name="state-message" id="project-state-message-input" style="display:none" placeholder="what do you need help with?" />
      <br>                        
      <div style="margin-top:32px">who's your team?</div>
      <br>
      <select name="team-members[]" id="project-team-members-select" class="chosen" multiple>
        @for(otherUser <- model.User.allConfirmed) {
          @if(user.username == otherUser.username || form("team-members").value.contains(otherUser.username)) {
            <option value="@otherUser.username" selected="true">@otherUser.fullName</option>
          } else {
            <option value="@otherUser.username">@otherUser.fullName</option>
          }
          
        }
      </select>
      <br>
      <div class="blue-button submit-button" style="margin-top:16px; font-size:16pt;  width:200px;">create project</div>
  		
     	}
      </div>
    </div>
}
