@(
project : model.Project,
updates: Seq[model.ProjectUpdate],
username : String,
canEdit : Boolean,
canUpdate : Boolean,
canJoin : Boolean,
canEditAllUpdates : Boolean,
canEditOwnUpdates : Boolean,
canDeleteAllUpdates : Boolean,
canDeleteOwnUpdates : Boolean,
canFollowAllProjects : Boolean)(
message : Option[String])(
implicit form: Form[model.ProjectUpdate])

@import model.User; val authenticatedUser = model.User.get(username)

@displayAmount(amount : Double) = {
  @if(amount.toInt == amount) {
    @amount.toInt
  } else {
    @amount
  }
}

@main(s"${project.name} | Student Government Project Portal")( Some(authenticatedUser)) {

<script>
var PROJECT_ID = @project.id;
var PRIMARY_CONTACT = "@project.primaryContact"
var STATE_IN_PROGRESS_NEEDS_HELP = "@model.ProjectState.IN_PROGRESS_NEEDS_HELP";
var teamMembers = [ @Html(project.teamMembers.map(x => s"'$x'").mkString(",")) ]

@if(message != None) {
  dialog("@Html(message.get)");
}

</script>

      <div class="main-container">
      	<div class="project-name-container">
        @if(model.ProjectCategory.get(project.categories(0)).icon == null) {
          <img src="/assets/images/logos/dashboard-student-experience.png"/>
        } else {
          <img src="/assets/images/logos/dashboard-@{model.ProjectCategory.get(project.categories(0)).icon}.png" />
        }
        @if(canEdit) {
          <span class="huge-header editable" id="project-name">@project.name</span>
          <textarea id="project-name-input" class="roundbox-textinput edit-field textarea-description" for="project-name" placeholder="project name" name="name" style="font-size:48pt">@project.name</textarea>
          <span class="edit-button" for="project-name" style="display:inline-block; position:relative; margin-left:16px;"></span>
        } else {
          <span class="huge-header">@project.name</span>
        }
        </div>
         <table class="project-table">

            <tr>
               <td>
                  <div class="roundbox" style="margin-right:64px">

                  @project match {
                     case project if authenticatedUser.primaryContactProjects.contains(project.id) => {
                        you own this project  
                     } 
                     case project if authenticatedUser.projects.contains(project.id) => {
                        you are on this project team
                     }
                     case project if project.state == model.ProjectState.COMPLETED => {
                        this project is completed and cannot be joined
                     }
                     case _ => {
                        <table>
                           <tr>
                              <td  style="width:100%">
                         you are <b>not</b> on this project team!                             
                              </td>
                              <td>
                              @if(model.ProjectRequest.get(project.id, project.primaryContact, username).isDefined == true) {
                                 <div class="hint">request sent</div>
                              } else {
                                @if(canJoin) {
                                 <span type="button" id="request-join" project-id="@project.id" class="button">join</span>       
                                }
                              }
                                               
                              </td>
                           </tr>
                        </table>


                     }
                  }
                  <div style="margin-top:18px">
                    <span style="float: left; margin-right: 8px; width: 44px; padding-left: 4px;">@common.likeButton(username, project)</span>
                    <span class="like-button-caption" active="@project.likes.contains(username)">@(if(project.likes.contains(username)) "unlike this project" else "like this project")</span>
   
                  </div>
                    @if(canFollowAllProjects) {
                      <div style="margin-top:8px;">
                        <span style="float:left; margin-right: 8px; width: 48px;">@common.followButton(username, project)</span>
                        <span class="follow-button-caption" active="@project.followers.contains(username)">@(if(project.followers.contains(username)) "unwatch this project" else "watch this project")</span>
                      </div>
                    
                    }

                  </div>

                  <div class="roundbox" style="margin-right:64px">
                  	<table>
                  		<tr>
                  			<td style="width:100%">
                     			<span class="content-header">description</span>
                     		</td>
                     		<td>
                     		@if(canEdit) {
                     			<span class="edit-button" for="project-description"></span>
                     		}
                     		</td>
                 		</tr>
                 	</table>
                 	@if(canEdit) {
                 		<p class="content project-description editable" id="project-description">@project.description</p>
						<textarea name="description" id="project-description-input" for="project-description" class="edit-field roundbox-textinput textarea-description" placeholder="enter a description" style="width:100%; font-size:12pt">@project.description</textarea>
                 	} else {
						<p class="content project-description">@project.description</p>
                 	}
                     
                     
                     <table>
                        <tr>
                           <td style="width: 100%">
                              <span class="content-header">categories</span>
                           </td>
                           <td>
                           @if(canEdit) {
                              <span class="edit-button" for="project-categories"></span>
                           }
                           </td>
                        </tr>
                     </table>
                     @if(canEdit) {
                         <p class="content editable" id="project-categories">
                           @project.categories.mkString(", ").toLowerCase()
                        </p>
                        <span class="edit-field content" field-name="categories" for="project-categories">
                           <select name="categories" class="chosen" id="project-categories-select" multiple="true">
                              @for(category <- model.ProjectCategory.all) {
                                 @if(project.categories.contains(category.name.toLowerCase())) {
                                 <option value="@category.name.toLowerCase()" selected="selected">@category.name.toLowerCase()</option>
                                 } else {
                                 <option value="@category.name.toLowerCase()">@category.name.toLowerCase()</option>                                 
                                 }

                              }
                           </select>
                        </span>
                     } else {
                        <p class="content">
                           @project.categories.mkString(", ").toLowerCase()
                        </p>
                     }
  
                     <table>
                        <tr>
                           <td style="width: 100%">
                              <span class="content-header">state</span>
                           </td>
                           <td>
                              @if(canEdit) {
                                 <span class="edit-button" for="project-state"></span>
                              }
                           </td>
                        </tr>
                     </table>
                     @if(canEdit) {
                           <p class="content editable" id="project-state">@project.state</p>
                           @if(project.state == model.ProjectState.IN_PROGRESS_NEEDS_HELP) {
                              <p class="content" id="project-state-message" style="font-style:italic;">@project.stateMessage</p>
                           } else {
                              <p class="content" id="project-state-message" style="font-style:italic; display:none">@project.stateMessage</p>
                           }
                           
                           <span class="edit-field content" field-name="state" for="project-state">
                              <select name="state" class="chosen" id="project-state-select">
                                      @for(state <- model.ProjectState.all) {
                                          @if(project.state == state) {
                                             <option value="@state.name.toLowerCase()" selected="selected">@state.name.toLowerCase()</option>
                                          } else {
                                             <option value="@state.name.toLowerCase()">@state.name.toLowerCase()</option>                                        
                                          }

                                      }
                              </select>
                              <br>
                              <input class="roundbox-textinput" id="project-state-message-input" style="display:none" placeholder="what do you need help with?" />
                           </span>
                     } else {
                           <p class="content">@project.state</p>
                           @if(project.state == model.ProjectState.IN_PROGRESS_NEEDS_HELP) {
                              <p class="content" id="project-state-message" style="font-style:italic;">@project.stateMessage</p>
                           } else {
                              <p class="content" id="project-state-message" style="font-style:italic; display:none">@project.stateMessage</p>
                           }
                     }


                  </div>
               </td>
               <td>
                  <div class="roundbox" style="margin-right:64px">
                     <span class="content-header">project dates</span>

                     <p class="content">started on @utils.Conversions.dateToDisplayedStr(project.timeStarted).toLowerCase()</p> 
                     @if(project.timeFinished == None) {
                      <p class="content">last active <span class="time-ago" time-submitted="@project.lastActivity.getTime()">@utils.Conversions.getTimeAgo(project.lastActivity)</span></p>
                     } else {
                        @if(project.state == model.ProjectState.CLOSED) {
                          <p class="content">frozen on @utils.Conversions.dateToDisplayedStr(project.timeFinished.get).toLowerCase()</p>
                        } else {
                          <p class="content">completed on @utils.Conversions.dateToDisplayedStr(project.timeFinished.get).toLowerCase()</p>
                        }
                    }
                      
                     
                  </div>
                  <div class="roundbox" style="margin-right:64px">
                    <table>
                      <tr>
                        <td style="width:100%">
                         <div class="content-header">primary contact</div>
                       </td>
                       <td>
                       @if(canEdit) {
                         <span class="edit-button" for="project-primary-contact"></span>
                        }
                       </td>
                      </tr>
                    </table>
                      @if(canEdit) {
                        <p class="content" id="project-primary-contact">@links.userLink(model.User.get(project.primaryContact))</p>
                        <span class="edit-field" for="project-primary-contact" field-name="primary-contact">
                          <select class="chosen" name="primary-contact" id="project-primary-contact-select">
                            @for(otherUser <- project.teamMembers.map(teamMember => model.User.get(teamMember))) {
                              @if(otherUser.username == project.primaryContact) {
                                <option value="@otherUser.username" selected="selected">@otherUser.fullName</option>
                              } else {
                                <option value="@otherUser.username">@otherUser.fullName</option>
                              }
                            }
                          </select>
                        </span>
                      } else {
                        <p class="content">@links.userLink(User.get(project.primaryContact))</p>
                      }

                     <!-- Team Members -->
                     
                     <table>
                     	<tr>
                     		<td style="width:100%">
                     			<span class="content-header">team members</span>
                 			</td>
                 			<td>
                 				@if(canEdit) {
                 					<span class="edit-button" for="project-team-members"></span>

                 				}
                 			</td>
                 		</tr>
                 	</table>
                  <p class="content" id="project-team-members">@Html(project.teamMembers.map(username => links.userLink(model.User.get(username))).mkString(", "))</p>
                 	@if(canEdit) {
                    <span class="edit-field" for="project-team-members" field-name="team-members">
                      <select class="chosen" name="team-members" id="project-team-members-select" multiple>
                        @for(otherUser <- model.User.allConfirmed) {
                          @if(project.teamMembers.contains(otherUser.username)) {
                            <option value="@otherUser.username" selected>@otherUser.fullName</option>
                          } else {
                            <option value="@otherUser.username">@otherUser.fullName</option>
                          }
                        }
                      </select>
                    </span>
                 	} else {
                 	}
                  </div>
                  @if(project.officeHoursLogged > 0) {
                  <div class="roundbox" style="margin-right:64px">
                     <span class="content-header">office hours</span>
                     <p class="content">this project has <span style="font-weight:bold;">@displayAmount(project.officeHoursLogged) @(if(project.officeHoursLogged > 1) "hours" else "hour")</span> logged to it.</p></p> 
                  </div>
                  }
               </td>
            </tr>
         </table>

         <!-- Update Log / Files -->
         
         <div class="select-group huge-header" style="margin-left:16px">
            <span class="select-item selected" id="project-update-log-button">update log</span>  |  <span class="select-item unselected" id="project-all-files-button">all files</span>
         </div>
         <table style="min-width:1306px">
          <tr>
            <td style="width:100%; padding:0px">
            <div id="project-update-log">
               @if(canUpdate) {
                @helper.form(action = routes.ProjectUpdateController.submit(project.id)) {
                
                  <div class="roundbox update">
                     <textarea name="content" id="update-input" class="roundbox-textinput textarea-description" placeholder="write a status update"></textarea>
                     
                     <div class="file-inputs">
                        <span class ="button" id="update-files-mask">choose files</span>
                        <span id="update-files-filenames"></span>
                        <input type="file" id="update-files" multiple style="display:none">
                        <span class="blue-button" id="post-update" value="Post Update" project-id="@project.id">post update</span>
                     </div>

                  </div>
                }
               }
               <div class="update-group">
               	@for(update <- updates) {
                     @common.updateView(update, username, canEditAllUpdates || canEditOwnUpdates && update.author == username, canDeleteAllUpdates || canDeleteOwnUpdates && update.author == username)
               	}
            	</div>
            </div>
          </td>
          <td>
            <div class="roundbox" id="project-all-files" style="display:none">
              <table style="width:100%" class="file-group">

              @for(file <- model.ProjectFile.get(project)) {
                @common.fileUpdateView(file)
              }
              </table>
            </div>
          </td>
        </tr>
      </table>
      </div>
}
