@(user : model.User,
loggedInUser : model.User)(
isAuthenticatedUser : Boolean,
canEdit : Boolean)(
userPrivileges : model.UserPrivileges.PrivilegeSet,
loggedInPrivileges : model.UserPrivileges.PrivilegeSet)(verifyForm : Form[model.form.Forms.UserForm])

@import java.lang.Boolean; var isLastCell = false

@getFormValue(name : String) = @{
	verifyForm(name).value.getOrElse("")
}

@officeHourRow(officeHour : model.UserOfficeHour) = {
	<tr>
		<td>@utils.Conversions.dateToDisplayedStr(officeHour.date).toLowerCase().replace(" - 12:00 am", "")</td>
		<td>@(if(officeHour.projectId == -1) "none" else links.projectLink(officeHour.projectId))</td>
		<td>
			@for(line <- officeHour.log.keys) {
				<div class="office-hour-description-line">@line</div>
			}
		</td>
		<td>@model.UserOfficeHour.getAmount(List(officeHour))</td>
	</tr>
}

@main(s"${user.fullName} | Student Government Project Portal")(Some(loggedInUser)) {
	@if(canEdit && !isAuthenticatedUser) {
		<div id="verify-window" class="popane" username="@user.username">
			<span class="close-button">close</span>
			<div class="header" style="font-size: 16pt; margin-bottom: 16px; font-weight:lighter;">verify @user.firstName.toLowerCase()</div>
			
			<div class="verify-header">first name</div>
			<input class="roundbox-textinput verify-first-name" name="first_name" type="text" placeholder="enter first name" value='@getFormValue("first_name")'>
			
			<div class="verify-header ">last name</div>
			<input class="roundbox-textinput verify-last-name" name="last_name" type="text" placeholder="enter last name" value='@getFormValue("last_name")'>

			<div class="verify-header">preferred pronouns</div>
			<input class="roundbox-textinput verify-preferred-pronouns" name="preferred_pronouns" type="text" placeholder="enter preferred pronouns" value='@getFormValue("preferred_pronouns")'>
			
			<div class="verify-header">cell phone number</div>
			<input class="roundbox-textinput verify-cell-number" name="cell_number" type="text" placeholder="enter cell phone number" value='@getFormValue("cell_number")'>
			
			<div class="verify-header" style="margin-top:24px">position <span class="button non-sg-button">mark as non-sg</span></div>

			<input class="roundbox-textinput verify-position" id="position-button" name="position" type="text" placeholder="enter position" value='@getFormValue("position")' style="display:inline-block">

			<div class="verify-header">office hour requirement</div>
			<input class="roundbox-textinput verify-office-hour-requirement" name="office_hour_requirement" type="text" placeholder="enter required weekly office hours" value="0">
			<br>
			<div class="hint" style="margin-bottom:16px;">*make sure they have the right privileges!</div>
			<br>
		    <span class="finish-verify-button" style="width: 216px; height: 32px; padding-top: 8px;">verify</span><br>
		</div>
	}
	<div class="main-container">

		<div class="huge-header project-name-container" style="margin-right:48px">
			@common.userProfileMainView(user, isAuthenticatedUser || canEdit)
			<span style="position: relative; top:-40px">
			@if(isAuthenticatedUser == true) {
				me
			} else {
				@Html(s"${links.userLink(user)}")
			}
	      	@if(isAuthenticatedUser == true) {
	   	  		<a href="project/new" class="blue-button" style="float:right; text-decoration:none">
	   	  			<span>create project</span>
	   	  		</a>

	   	  		<span  class="blue-button" id="manage-projects-button" style="float:right; text-decoration:none; margin-right:32px">manage projects</span>
	   	  		
	      	}
	      	</span>

		</div>

		<div class="large-header">projects @{if(isAuthenticatedUser == true) "i own" else Html(links.userLink(user, Some(user.firstName.toLowerCase())) + " owns")}</div>

	   	<div class="projectbox-container">
	   		<div class="grid-sizer"></div>
		   	@for(project <- user.primaryContactProjects.map(model.Project.get(_))) {
		   		@if(project.state != model.ProjectState.COMPLETED) {
		   			@common.projectView(project, loggedInUser.username, loggedInPrivileges.edit.joinProjects, loggedInPrivileges.follow.projectsAll)
		   		}
		   	}
	   	</div>

	   	<br>

	   	<div class="large-header">projects @{if(isAuthenticatedUser == true) "i work" else Html(links.userLink(user, Some(user.firstName.toLowerCase())) + " works")} on</div>
	   	<div class="projectbox-container">
	   		<div class="grid-sizer"></div>
		   	@for(project <- user.projects.map(model.Project.get(_)) if project.primaryContact != user.username && project.state != model.ProjectState.COMPLETED) {
	   			@common.projectView(project, loggedInUser.username, loggedInPrivileges.edit.joinProjects, loggedInPrivileges.follow.projectsAll)
		   	}
	   	</div>

	   	<br>

    	<div class="large-header">about @{if(isAuthenticatedUser == true) "me" else links.userLink(user, Some(user.firstName.toLowerCase()))}</div>
    	<div class="roundbox">
    		<div class="hint">email: <a href='mailto:@(user.username + "@mail.uc.edu")' style="color:#C51834;">@(user.username + "@mail.uc.edu")</a></div>
    		<div class="hint">preferred pronouns: @user.preferredPronouns</div>
    		<div class="hint">position: @user.position</div>
    		@if(loggedInUser.position != model.User.PositionNonSG && loggedInUser.verified == true) {
    			<div class="hint">cell number: @user.cellNumber</div>
    		}
    		
	      	@if(isAuthenticatedUser == false && loggedInPrivileges.follow.usersAll) {
	      		<div style="margin-top:16px;">
	      		<span style="float:left; margin-right: 8px">@common.followUserButton(loggedInUser, user.username)</span>
	      		<span class="follow-user-button-caption hint" title="watch this user to get notifications on their updates" active="@loggedInUser.usersFollowing.contains(user.username)">@(if(loggedInUser.usersFollowing.contains(user.username)) "unwatch this user" else "watch this user")</span>
	      		</div>
	      	}
    	</div>

    	<div class="large-header">@{if(isAuthenticatedUser == true) "my activity" else Html(links.userLink(user, Some(user.firstName.toLowerCase())) + "'s activity")}</div>

    	<div class="roundbox user-activity-feed" style="margin-right:48px">

    		@for(activity <- model.UserActivity.getNeutralized(user.username, 10, List(enums.ActivityType.SubmitProject, enums.ActivityType.SubmitUpdate, enums.ActivityType.LikeProject))) {
    			@common.userActivityFeedView(activity)
    		}
    	</div>

	   	@defining(user.projects.map(model.Project.get(_)).filter(_.state == model.ProjectState.COMPLETED)) { completedProjects =>
	   		@if(completedProjects.length > 0) {
			   	<div class="large-header">projects @{if(isAuthenticatedUser == true) "i've" else Html(links.userLink(user, Some(user.firstName.toLowerCase())) + " has")} completed</div>
			   	<div class="projectbox-container">
			   		<div class="grid-sizer"></div>
				   	@for(project <- completedProjects) {
				   		@if(project.state == model.ProjectState.COMPLETED) {
				   			@common.projectView(project, loggedInUser.username, loggedInPrivileges.edit.joinProjects, loggedInPrivileges.follow.projectsAll)
				   		}
				   	}
			   	</div>   

			   	<br>	
	   		}
	   	}



	   	@if(canEdit && !isAuthenticatedUser) {
		   	<div class="large-header">members @user.firstName.toLowerCase() follows</div>
		   	<div class="roundbox">
			   	<span class="edit-users-following-button" follower="@user.username" style="display:inline-block; position:relative; float:right;"></span>
		   		@if(user.usersFollowing.length ==0 ) {
		   			<p class="content" id="user-users-following">no one</p>
		   		} else {
		   			<p class="content" id="user-users-following">@Html(user.usersFollowing.map(username => links.userLink(model.User.get(username))).mkString(", "))</p>
		   		}
			   
				<div class="users-following-edit-field" for="users-following" field-name="users-following">
				  <select class="chosen" name="team-members" id="users-following-select" multiple style="width:80%">
				    @for(otherUser <- model.User.allConfirmed) {
				      @if(user.usersFollowing.contains(otherUser.username)) {
				        <option value="@otherUser.username" selected>@otherUser.fullName</option>
				      } else {
				        <option value="@otherUser.username">@otherUser.fullName</option>
				      }
				    }
				  </select>
				</div>
			</div>
		   	<div class="large-header">privileges and moderation</div>
	   		@common.userPrivilegeEditView(user, userPrivileges, loggedInPrivileges)
	   	}

	   	@if(loggedInPrivileges.view.accountability || isAuthenticatedUser) {
			<div class="large-header">@(if(!isAuthenticatedUser) user.firstName.toLowerCase + "'s" else "my") office hours</div>
			<div class="roundbox">
				<table class="office-hours-table">
					<tr>
						<td class="office-hours-table-header">date</td>
						<td class="office-hours-table-header">project</td>
						<td class="office-hours-table-header" style="width:50%">description</td>
						<td class="office-hours-table-header">amount</td>
					</tr>
					@for(o <- model.UserOfficeHour.get(user.username).reverse) {
						@officeHourRow(o)
					}
				</table>
	   	}
   	</div>
}
