@(user : model.User, loggedInUser : model.User)(isAuthenticatedUser : Boolean)
@import java.lang.Boolean; var isLastCell = false

@main("Student Government Project Portal")(Some(loggedInUser)) {
	<div class="main-container">

		<div class="huge-header project-name-container">
			@if(isAuthenticatedUser == true) {
				my projects
			} else {
				@Html(links.userLink(user.username) + "'s projects")
			}
	      	@if(isAuthenticatedUser == true) {
	   	  		<a href="project/new" class="blue-button" style="float:right; text-decoration:none">
	   	  			<span>create project</span>
	   	  		</a>

	   	  		<span  class="blue-button" id="manage-projects-button" style="float:right; text-decoration:none; margin-right:32px">manage projects</span>
	   	  		
	      	}

		</div>

    	<div class="large-header">projects @{if(isAuthenticatedUser == true) "i own" else Html(links.userLink(user.username, user.firstName.toLowerCase()) + " owns")}</div>

	   	<div class="projectbox-container">
	   		<div class="grid-sizer"></div>
		   	@for(project <- user.primaryProjects) {
		   		@if(project.state != model.ProjectState.COMPLETED) {
		   			@common.projectView(project, loggedInUser.username)
		   		}
		   	}
	   	</div>

	   	<div class="large-header">projects @{if(isAuthenticatedUser == true) "i work" else Html(links.userLink(user.username, user.firstName.toLowerCase()) + " works")} on</div>
	   	<div class="projectbox-container">
	   		<div class="grid-sizer"></div>
		   	@for(project <- user.projects) {
		   		@if(project.primaryContact != user.username && project.state != model.ProjectState.COMPLETED) {
		   			@common.projectView(project, loggedInUser.username)
		   		}
		   	}
	   	</div>

	   	<div class="large-header">projects @{if(isAuthenticatedUser == true) "i've" else Html(links.userLink(user.username, user.firstName.toLowerCase()) + " has")} completed</div>
	   	<div class="projectbox-container">
	   		<div class="grid-sizer"></div>
		   	@for(project <- user.projects) {
		   		@if(project.state == model.ProjectState.COMPLETED) {
		   			@common.projectView(project, loggedInUser.username)
		   		}
		   	}
	   	</div>
   	</div>
}
