@(user : model.User)
<script>
	user = @Html(user.toJson.toString)
	DEFAULT_MESSAGE = "notifications"

</script>
<div class="title-nav">
	<span style="display: inline-block; padding-top:4px">
		<span class="title-project-portal"><a href="/">project portal</a></span><span id="uc-sg">university of cincinnati undergraduate student government</span>
	</span>
	@if(user.position != model.User.PositionNonSG) {
		@common.userProfileHeaderView(user)
	} else {
		<div class="title-nav-item"><a href="@routes.Application.signout">sign out</a></div>
	}
	<span class="title-nav-item">
		<a href="/filter">
			all projects
		</a>
	</span>
	@if(user.position != model.User.PositionNonSG) {
		<span class="title-nav-item">
			<a href="/@user.username">my projects</a>
		</span>
	}

	@if(user.position != model.User.PositionNonSG) {
	<span class="title-nav-item" style="padding-top:1px; max-height:32px;" title="log office hours">
		<span style="max-height:32px">
			<span class="office-hour-button"></span>
		</span>
	</span>
	}

	<span class="title-nav-item search-nav-item" title="search">
		<span style="max-height:32px">
			<span class="search-button"></span>
			<input class="roundbox-textinput typeahead search-box" id="search-box" placeholder="search..."></span>
		</span>
	</span>

	<div class="popane" id="notifications-window">
		<span class="close-button">close</span>
		<span class="content-header">notifications</span>
		<span class="notification-clear-all">clear all</span>
		<br>
		<br>
		@notificationsListView(user)
	</div>
	@common.officeHoursView(user)

</div>
