@(user : model.User)
<script>
	user = @Html(user.toJson.toString)
	DEFAULT_MESSAGE = "notifications"

</script>
<div class="title-nav">
	<span style="display: inline-block; padding-top:4px">
		<span class="title-project-portal"><a href="/">project portal</a></span><span id="uc-sg">university of cincinnati undergraduate student government</span>
	</span>
	@common.userProfileHeaderView(user)
	<span class="title-nav-item">
		<a href="/filter">
			all projects
		</a>
	</span>
	<span class="title-nav-item">
		<a href="/@user.username">my projects</a>
	</span>

	<span class="title-nav-item search-nav-item">
		<span style="max-height:32px">
			<span class="search-button"></span>
			<input class="roundbox-textinput typeahead search-box" id="search-box"></span>
		</span>
	</span>

	<div class="popane" id="notifications-window">
		<span class="close-button">close</span>
		<span class="content-header">notifications</span>
		<span class="notification-clear-all">clear all</span>
		<br>
		<br>
		@notificationsListView(user)
	</div>

</div>
