@(loggedInUser: model.User, user : model.User, project : model.Project, update : model.ProjectUpdate)

@shortenContent(update : model.ProjectUpdate) = @{
	val maxLength = 100;
	if(update.content.length > maxLength) {
		update.content.substring(0, maxLength - 3) + "..."
	}
	else {
		update.content
	}
}

@calculateFontSize(update : model.ProjectUpdate) = @{
	val maxLength = 100;
	val minLength = 80;
	val smallestSize = 15.0;
	val largestSize = 24.0;
	if(update.content.length >= maxLength) {
		smallestSize.toInt
	}
	else if(update.content.length <= minLength) {
		largestSize.toInt
	}
	else {
		math.floor(( (update.content.length.toDouble - minLength) / (maxLength.toDouble - minLength)) * (largestSize - smallestSize)).toInt + smallestSize.toInt
	}
}

<div class="hero-card-isotope-item">
<div class="hero-card">
    <a style="text-decoration:none; color: white;" href='@(routes.ProjectController.project(project.id) + s"#${update.projectId};${update.author};${utils.Conversions.dateToStr(update.timeSubmitted)}")'>
    @if(user.profile == None) {
    	<div class="hero-profile empty">
    } else {
    	<div class="hero-profile" style="background-image:url('@user.profile.get');">
    }
        <div class="hero-profile-overlay"></div>
        <div class="hero-title">@user.firstName.toLowerCase() updated the project,<br /> @links.projectLink(project.id),</div>
        <div class="hero-content" style="font-size:@calculateFontSize(update)pt">&ldquo;@shortenContent(update)&rdquo;</div>
    </div></a>
    <div class="hero-controls">
    	@links.updateLink(update.projectId, update.author, utils.Conversions.dateToStr(update.timeSubmitted), "view update")
    <span style="float:right">
        @common.likeUpdateButton(loggedInUser.username, update)
    </span>
    </div>
</div>
</div>