@(notification : model.Notification)
@import model.Project; var project = Project.undefined;
@import model.User; var user = User.undefined;

<div class="notification-item">
@notification.notificationType match {
	case enums.NotificationType.UPDATE => {
	<table>
		<tr>
			<td class="notification-td">
				@{project = Project.get(notification.content("project_id").toInt)}
				@{user = User.get(notification.content.getOrElse(model.Notification.Sender, { "someone"} )  )}
				<span class="hint">@links.userLink(user, Some(user.firstName.toLowerCase())) posted an update in the project @links.projectLink(project.id)!</span>
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>

	}
	case enums.NotificationType.REQUEST => { 
	<table >
		<tr>
			<td class="notification-td">
				@{project = Project.get(notification.content("project_id").toInt)}
				@{user = User.get(notification.content.getOrElse(model.Notification.Sender, { "someone"} )  )}
				<span class="hint">@links.userLink(user, Some(user.firstName.toLowerCase())) requested to join the project @project.name.toLowerCase()!</span>
			</td>
			<td>
				<span class="button accept-join" project-id="@project.id" requester="@user.username">accept</span>
			</td>
			<td>
				<span class="button ignore-join" project-id="@project.id" requester="@user.username">ignore</span>
			</td>
		</tr>
	</table>
	}
	case enums.NotificationType.MESSAGE => {
	<table >
		<tr>
			<td class="notification-td">
				<span class="hint">@notification.content.getOrElse("value", { "" }).toLowerCase()</span>
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}
	case enums.NotificationType.ADDED_TO_PROJECT => {
	<table >
		<tr>
			<td class="notification-td">
				@{project = Project.get(notification.content("project_id").toInt)}
				<span class="hint">you have been added to the project: @links.projectLink(project.id)!</span>
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}

	case enums.NotificationType.ProjectFrozen => {
	<table >
		<tr>
			<td class="notification-td">
				@defining(model.Project.get(notification.content("project_id").toInt)) { project =>
					<span class="hint">the project, @links.projectLink(project.id), has been automatically frozen due to inactivity</span>
				}
				
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}

	case enums.NotificationType.ProjectLiked => {
	<table >
		<tr>
			<td class="notification-td">
				@{project = Project.get(notification.content("project_id").toInt)}
				@{user = User.get(notification.content.getOrElse(model.Notification.Sender, { "someone"} )  )}
				<span class="hint">@links.userLink(user, Some(user.firstName.toLowerCase())) likes the project @links.projectLink(project.id)!</span>
				
				
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}

	case enums.NotificationType.UpdateLiked => {
	<table >
		<tr>
			<td class="notification-td">
				@{project = Project.get(notification.content("project_id").toInt)}
				@{user = User.get(notification.content.getOrElse(model.Notification.Sender, { "someone"} )  )}
				<span class="hint">@links.userLink(user, Some(user.firstName.toLowerCase())) likes your @links.updateLink(project.id, notification.content("author"), notification.content("time_submitted"), "update") in the project @links.projectLink(project.id)!</span>
				
				
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}

	case enums.NotificationType.OfficeHourFailed => {
	<table>
		<tr>
			<td class="notification-td">
				@{user = User.get(notification.content.getOrElse(model.Notification.Sender, { "someone"} )  )}
				<span class="hint">@links.userLink(user, Some(user.firstName.toLowerCase())) failed to log their required office hours!</span>
			</td>
			<td>
				<span class="button ignore-notification" time-created="@utils.Conversions.dateToStr(notification.timeCreated)">dismiss</span>
			</td>
		</tr>
	</table>
	}

	case _ => {}
}

</div>