@(project : model.Project, username : String)
@import java.lang.String; val filterStr = project.categories.map(x => s"category-${x.replace(' ', '-')}").mkString(" ") + " state-" + project.state.replace(" ", "-").replace("(", "-").replace(")", "-");
@import java.lang.String; val stateStr = project.state.replace(" ", "-").replace("(", "-").replace(")", "-");

@if(project.isNew == true) {
<div class="isotope-item @filterStr category-new">
} else {
<div class="isotope-item @filterStr">
}
<table class="projectbox projectbox-@project.id" expanded="false" >
	<tr>
		<td>
			<span class="leave-project-button" for="@project.id" style="display : none"></span>
			@if(model.ProjectCategory.get(project.categories(0)).icon == null) {
				<img src="/assets/images/icons/project-@stateStr-student-experience.png" class="projectbox-icon"/>
			} else {
				<img src="/assets/images/icons/project-@stateStr-@{model.ProjectCategory.get(project.categories(0)).icon}.png" class="projectbox-icon"/>
			}
			
		</td>
		<td class="projectbox-title">
			@project.name
			@if(project.state == model.ProjectState.IN_PROGRESS_NEEDS_HELP) {
				<br />
				<span class="projectbox-needshelp-description">@project.stateMessage</span>
			}
		</td>
		
	</tr>
	<tr>
		<td colspan="2">
			<div  class="projectbox-description">
				<p class="hint">
					@Html(project.description.replace("\r\n", "<br>"))
				</p>
				<br/>
				<div>
					<a href="/project/@project.id" style="text-decoration: none">
						<span class="button">
							continue to project profile
						</span>
					</a>
					<span style="font-size:8pt; float:right;">
		              @project match {
		              	case project if project.primaryContact == username => {
		              		you own this project
		              	}
		              	case project if project.teamMembers.contains(username) => {
		              		you are on this project team
		              	}
		              	case project if model.ProjectRequest.get(project.id, project.primaryContact, username).isDefined == true => {
							<div class="hint">request sent</div>
		              	}
		              	case project if project.state == model.ProjectState.COMPLETED => {
		              		this project is completed
		              	}
		              	case _ => {
							<span type="button" class="request-join button" project-id="@project.id">join</span> 
		              	}

		              }
					</span>
				</div>
			</div>
		</td>
		</tr>
</table>
</div>