@(project : model.Project, username : String, canJoin : Boolean, canFollow : Boolean, expanded : Boolean = false)
@import java.lang.String; val filterStr = project.categories.map(x => s"category-${x.replace(' ', '-')}").mkString(" ") + " state-" + project.state.replace(" ", "-").replace("(", "-").replace(")", "-");
@import java.lang.String; val stateStr = project.state.replace(" ", "-").replace("(", "-").replace(")", "-");
@import java.lang.Integer; val UsersPerCard = 7;

@colorCodeState(state : String) = @{
	state match {
		case model.ProjectState.IN_PROGRESS => ""

		case model.ProjectState.IN_PROGRESS_NEEDS_HELP => {
			"background-color:#6ABEF7"
		}
		case model.ProjectState.COMPLETED => {
			"background-color:#00DC75"
		}
		case model.ProjectState.IDEA => {
			"background-color:#F76ABE"
		}
		case model.ProjectState.CLOSED => {
			"background-color:#F76A6A"
		}
		case _ => ""
	}
}

@if(project.isNew == true) {
<div class="isotope-item @filterStr category-new">
} else {
<div class="isotope-item @filterStr">
}
<div class="projectbox projectbox-@project.id" expanded="@expanded" >
	<div style="height:81px">
		<div class="project-category-state">
			<span class="leave-project-button" for="@project.id" style="display : none"></span>
			@if(model.ProjectCategory.get(project.categories(0)).icon == null) {
				<img src="/assets/images/icons/project-frozen-student-experience.png" class="projectbox-icon"/>
			} else {
				<img src="/assets/images/icons/project-frozen-@{model.ProjectCategory.get(project.categories(0)).icon}.png" class="projectbox-icon"/>
			}
			<span class="project-state" style="@colorCodeState(project.state)">@(if(project.state == model.ProjectState.IN_PROGRESS_NEEDS_HELP) "needs help!" else project.state)</span>
			
		</div>
		<div class="projectbox-title">@project.name</div>
		@if(project.state == model.ProjectState.IN_PROGRESS_NEEDS_HELP) {
			<br />
			<!--<span class="projectbox-needshelp-description">@project.stateMessage</span>-->
		}
	</div>

	<div>
		<div  class="projectbox-description">
			<p class="hint" style="padding-left:16px">
				@Html(project.description.replace("\r\n", "<br>"))
			</p>
			<br/>
			<div style="padding-left:16px;">
				@common.userProfileIconView(model.User.get(project.primaryContact), project.primaryContact == username, true)

				@if(project.teamMembers.contains(username) && project.primaryContact != username)  {
					@common.userProfileIconView(model.User.get(username), true, false)
				}

				@defining(project.teamMembers.filter(m => m != username && m != project.primaryContact)) { remainingMembers =>
					@for(member <- remainingMembers.take(UsersPerCard)) {
						@common.userProfileIconView(model.User.get(member), false, false)
					}
					@if(remainingMembers.length > UsersPerCard) {
						@seeMoreView(remainingMembers.length - UsersPerCard, remainingMembers.drop(UsersPerCard))
					}
				}
				@project match {
	              	case project if project.primaryContact == username => {
	              		
	              	}
	              	case project if project.teamMembers.contains(username) => {
	              		
	              	}
	              	case project if model.ProjectRequest.get(project.id, project.primaryContact, username).isDefined == true => {
						<!--<div class="hint">request sent</div>-->
					<div class="join-button noselect">
						<span class='user-profile user-profile-icon'>
							<span class="user-profile-text">√</span>
						</span>
							<div class="user-profile-icon-caption" style="font-size:10pt">request sent</div>
							<span class="join-button-positioner">&nbsp;</span>
					</div>	
	              	}
	              	case project if project.state == model.ProjectState.COMPLETED => {
	              		<!--this project is completed-->
	              	}
	              	case _ if canJoin => {
					<div class="join-button request-join noselect" project-id="@project.id">
						<span class='user-profile user-profile-icon'>
							<span class="user-profile-text">+</span>
						</span>
							<div class="user-profile-icon-caption">join</div>
							<span class="join-button-positioner">&nbsp;</span>
					</div>	
	              	}
	              	case _ => {}
	              }

			</div>
		</div>
	</div>
	<div style="margin-top:4px">
			<span style="width: 100%; display: block; padding-top:4px">
				<div style="float: left">
					<a href="/project/@project.id" style="text-decoration: none">
						<span class="button" style="font-size:10pt">
							view project
						</span>
					</a>
				</div>
				<div class="projectbox-arrow"></div>
				@if(canFollow) {
					<div style="float: right;">@common.followButton(username, project)</div>				
				}

				<div style="float: right; margin-right:24px">@common.likeButton(username, project)</div>
			</span>
	</div>
</div>
</div>