@(user : model.User)
<div id="panel">
  <div id="panel-content">
    <table style="width: 100%; padding: 15px;">
      <tr>
        <td></td>
        <td>
          <span id="logTimeError"></span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span id="logTimeSuccess"></span>
        </td>
      </tr>
      <tr>
        <td class="input-label">date:</td>
        <td><input type="text" id="mDate" class="roundbox-textinput" placeholder="ex: 12/25/2015" /></td>
      </tr>
      <tr>
        <td class="input-label">hours:</td>
        <td><input type="text" id="mHours" class="roundbox-textinput" placeholder="ex: 1.5" /></td>
      </tr>
      <tr>
        <td class="input-label">project:</td>
        <td>
          <select name="project" class="chosen" id="office-hour-project-select" style="width: 100%">
            <option value="-1" selected="selected">None</option>
            @for(p <- user.projects) {
              <option value="@p.id">@p.name</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td class="input-label">comments:</td>
        <td><textarea id="mComments" rows="5" cols="30" style="resize: none"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" id="mPostUpdate" name="mPostUpdate"> post this as a project update</td>
      </tr>
      <tr>
        <td></td>
        <td><span class="blue-button" id="submitHours">submit hours</span></td>
      </tr>
    </table>
  </div>
  <div id="panel-tab">
    <div id="myTab">
      <strong style="padding-top: 10px;">
        L<br/>
        O<br/>
        G<br/>
        <br/>
        T<br/>
        I<br/>
        M<br/>
        E<br/>
      </strong>
    </div>
  </div>
</div>
<script type="text/javascript">
  var taskPanelOpen = false;

  $(function () {
      $("#panel-tab").click(function (event) {
          event.stopPropagation();
          showIfNotVisible("#panel-content");
      });

      $("#mDate").datepicker();
  });

  function showIfNotVisible(element) {
        if (taskPanelOpen) {
            $(element).animate({ width: '0px' }, 500);
            taskPanelOpen = false;
        } else {
            $(element).animate({ width: '450px' }, 500);
            taskPanelOpen = true;
        }
  }

  $("#submitHours").on("click", function() {
      var reqBody = {
        date: $("#mDate").val(),
        projectId: $("#office-hour-project-select").val(),
        hours: $("#mHours").val(),
        comment: $("#mComments").val(),
        markAsUpdate: $("#mPostUpdate").is(":checked")
      };

      $.post("/officehour/logHour", reqBody, function(data) {
          $("#logTimeError").html("");
          $("#mDate").val("");
          $("#office-hour-project-select").val("");
          $("#mHours").val("");
          $("#mComments").val("");
          $("#logTimeSuccess").html("Time logged successfully!");
      }).error(function(data) {
          $("#logTimeSuccess").html("");
          $("#logTimeError").html("The following field contains an incorrect value: " + data.responseText);
      });
  });

</script>
